<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<br></br>


<button class="social-btn"><%= link_to "Follow me on instagram!", "https://www.instagram.com/ameliorablee/" %></button>
