// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkbox {
  float: left;
  padding: 10px 10px 10px 10px;
}

.remember-checkbox {
  float: left;
}
